.homeHeader {
    background-image: url("../beach-final-images/home-image-1.jpg");
    background-position: center;
    background-size: cover;
    background-position: center;
    height: 50vh;
}

h2 {
    // border: 1px solid black;
    text-align: left; 
    padding: none;
    font-size: 2rem;
    color: $spruce;
    margin-bottom: 10px;
    line-height: 0px;
}

h1 {
    // border: 1px solid black;
    font-size: 3rem;
    color: $twilightBlue;
    padding: 0;
    margin: 0;
    text-align: left;
}

.headerImageContainer {
    background-image: url("../beach-final-images/header-box.jpg");
    background-position: center;
    background-size: cover;
    background-position: center;
}

.textLeft {
    text-align: left;
}

.headerTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    height: 50vh;
}
// header END
.visitFlex .wrapper {
    // border: 1px solid black;
    display:flex;
    align-items: flex-start;
    margin-top: 100px;
    padding: 50px 0;
    justify-content: space-evenly;
}

.visitText {
    width: 75%;
    margin-right: 50px;
}

.gallery {
    background-color: $lightBlue;
    padding: 50px 0px;
}

.gallery ul {
    // border: 1px solid black;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gallery li {
    flex-basis: 30%;
}
// gallery END
.highlightFirstRow {
    // border: 1px solid black;
    display: flex;
    padding-top: 50px;
}

.highlightSecondRow {
    // border: 1px solid black;
    display: flex;
    padding-bottom: 50px;
}

.icon {
    padding-right: 15px;
    padding-top: 15px;
    .iconBackground {
        background-color: $green;
        border-radius: 50%;
        padding: 10px;
    }
    i {
        color: $iceBlue;
    }
}
// highlight section END
.planAhead,
.newLocations {
    background-color: $lightBlue;
    display: flex;
    justify-content: space-between;
}

.planAhead {
    margin-top: 30px;
}


.leftImage {
    width: 100%;
    position: relative;
    top: -30px;
}

.rightImage {
    width: 100%;
    position: relative;
    bottom: -30px;
}

.planAheadText,
.newLocationsText {
    // border: 1px solid orange;
    width: 50%;
}

.planAheadText {
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 30px;
}

.newLocationsText {
    margin-right: 100px;
    text-align: right;
    margin-left: 30px;
    margin-top: 30px;
}
// plan ahead and new locations END
.description {
    text-align: center;
    padding: 100px 0;
}

.description .wrapper {
    padding: 0 20px;
}

.description h4 {
    margin: 0;
    color: $spruce;
}
// description section END

.headerImageContainer {
    width:375px;
    height: 300px;
    position: absolute;
    top: 150px;
    z-index: 1;
}

h1,
h2 {
    position: relative;
    z-index: 2;
}

