// font-family: 'Lato', sans-serif;
// font-family: 'Playfair Display SC', serif;

// fonts from Google Fonts
$logoFont: "Playfair Display SC";
$bodyFont: "Lato";
$baseFontSize: 1rem;

// colors from stylesheet
$green: #50E3C2;
$black: #2C2C2C;
$iceBlue: #FAFFFE;
$twilightBlue: #063974;
$lightBlue: #D2F9F1;
$spruce: #0C5F4C;
