@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Lato";
  font-size: 1rem;
  color: #2C2C2C;
}

h2, h3, h4, h5 {
  font-weight: bold;
}

h3, h4 {
  font-size: 1.25rem;
}

h3 {
  color: #0C5F4C;
}

h4 {
  color: #063974;
  margin: 0;
}

h1, span, button, .logo {
  font-family: "Playfair Display SC";
  font-size: 1rem;
}

ul, li, a, input {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wrapper {
  max-width: 1260px;
  width: 85%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  background: none;
  border: none;
  padding: 5px;
  background-color: #063974;
  color: #FAFFFE;
}

.navFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navList ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

a {
  display: inline-block;
  font-size: 0.75rem;
  padding: 0 15px;
  color: #FAFFFE;
}

.rightNavHome {
  color: #50E3C2;
}

/* attempt to move logo to the left side separate from the rest of navigation */
.navLogo {
  font-size: 1.73rem;
  text-transform: uppercase;
  text-align: left;
}

.navLogo .logo {
  color: #50E3C2;
}

.logo {
  padding: 0;
}

.homeHeader {
  background-image: url("../beach-final-images/home-image-1.jpg");
  background-position: center;
  background-size: cover;
  background-position: center;
  height: 75vh;
}

h2 {
  text-align: left;
  padding: none;
  font-size: 2rem;
  color: #0C5F4C;
  margin-bottom: 10px;
  line-height: 0px;
}

h1 {
  font-size: 3rem;
  color: #063974;
  padding: 0;
  margin: 0;
  text-align: left;
}

.headerImageContainer {
  background-image: url("../beach-final-images/header-box.jpg");
  background-position: center;
  background-size: cover;
  background-position: center;
}

.textLeft {
  text-align: left;
}

.headerTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  height: 50vh;
}

.visitFlex .wrapper {
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 100px 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.visitText {
  width: 75%;
  margin-right: 50px;
}

.gallery {
  background-color: #D2F9F1;
  padding: 50px 0px;
}

.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery li {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.highlightFirstRow {
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
}

.highlightSecondRow {
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
}

.icon {
  padding-right: 15px;
  padding-top: 15px;
}
.icon .iconBackground {
  background-color: #50E3C2;
  border-radius: 50%;
  padding: 10px;
}
.icon i {
  color: #FAFFFE;
}

.planAhead,
.newLocations {
  background-color: #D2F9F1;
}

.planAhead .wrapper,
.newLocations .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: 1px solid black;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.leftImage,
.rightImage {
  width: 100%;
  position: relative;
}

.planAheadText,
.newLocationsText {
  border: 1px solid orange;
  margin-top: 50px;
}

.planAheadText {
  margin-left: 100px;
}

.newLocationsText {
  margin-right: 100px;
}

.description {
  text-align: center;
  padding: 100px 0;
}

.description .wrapper {
  padding: 0 20px;
}

.description h4 {
  margin: 0;
  color: #0C5F4C;
}

.headerImageContainer {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 100px;
  z-index: 1;
}

h1,
h2 {
  position: relative;
  z-index: 2;
}

footer {
  background-color: #2C2C2C;
  color: #FAFFFE;
  text-align: center;
}

footer p {
  margin: 0 auto;
  font-weight: 300;
}

.visitBox,
.rightImage {
  -webkit-box-shadow: -10px 10px #50E3C2;
          box-shadow: -10px 10px #50E3C2;
}

.leftImage,
.blogPostImage {
  -webkit-box-shadow: 10px 10px #50E3C2;
          box-shadow: 10px 10px #50E3C2;
}

.blogHeader {
  background-image: url("../beach-final-images/blog-image-1.jpg");
  background-position: center;
  background-size: cover;
  background-position: center;
}

.headerBlogTitle h1 {
  color: #FAFFFE;
  font-family: "Lato";
  font-size: 2.5rem;
  font-weight: bold;
}

.headerBlogTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  height: 50vh;
}

.blogPostContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogPost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  border-right: 3px solid #50E3C2;
  border-bottom: 3px solid #50E3C2;
  position: relative;
  top: -75px;
}
.blogPost h3 {
  margin-bottom: 0;
}
.blogPost .date {
  margin-top: 0;
  color: #063974;
  font-weight: 300;
}

.blogPostImageContainer {
  margin-right: 10px;
}

.ourMission {
  width: 30%;
  border: 1px solid black;
  margin-top: 50px;
}
.ourMission h5 {
  font-size: 1.1rem;
  color: #063974;
  margin-bottom: 0;
}
.ourMission p strong {
  color: #0C5F4C;
}

.recentPosts {
  margin-left: 20px;
  margin-top: 20px;
}
.recentPosts li {
  padding-bottom: 10px;
}

.recentPosts li::before {
  content: "•";
  color: #50E3C2;
  margin-right: 20px;
}

.comments {
  width: 60%;
  border: 1px solid black;
}
.comments h6 {
  font-size: 1.3rem;
  margin: 0;
  margin-bottom: 20px;
}

.commentOneContainer,
.commentTwoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.commentOneContainer {
  margin-bottom: 50px;
}

.commentTwoContainer {
  margin-bottom: 20px;
}

.commentOneText,
.commentTwoText {
  border: 1px solid orange;
  width: 80%;
}
.commentOneText h5,
.commentTwoText h5 {
  margin: 0;
  color: #063974;
}
.commentOneText p,
.commentTwoText p {
  margin-top: 5px;
}

.commentOneImage,
.commentTwoImage {
  margin-right: 30px;
}

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 10px;
}
.contactForm .contactRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
.contactForm button {
  margin-top: 20px;
}
.contactForm #message {
  height: 140px;
}

.contactRow {
  width: 100%;
}

input, textarea {
  padding: 0 0 20px 5px;
  border: none;
  font-family: "Lato";
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-size: 0.85rem;
  line-height: 1.2rem;
  font-weight: 300;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  font-size: 0.85rem;
  line-height: 1.2rem;
  font-weight: 300;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-size: 0.85rem;
  line-height: 1.2rem;
  font-weight: 300;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  font-size: 0.85rem;
  line-height: 1.2rem;
  font-weight: 300;
}
input::placeholder, textarea::placeholder {
  font-size: 0.85rem;
  line-height: 1.2rem;
  font-weight: 300;
}

input {
  border: none;
  border-bottom: 2px solid #50E3C2;
  padding: 20px;
}

textarea {
  min-height: 130px;
  border: 2px solid #50E3C2;
  padding: 20px;
  resize: none;
}